@import "reset.css";

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

.menu {
  display: flex;
  font-size: 40px;
  padding: 30px;
  justify-content: space-evenly;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgb(214, 46, 40);
}

a {
  text-decoration-line: none;
  color: white;
}

a:hover {
  background-color: violet;
  padding: 20px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.btn {
  display: none;
}

.season {
  background-color: rgb(24 24 24);
  text-align: center;
  padding: 20px;
}

.season span {
  font-size: 30px;
  padding: 30px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (max-width: 900px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
  }

  p {
    padding: 10px;
  }

  div {
    padding: 10px;
  }

  a:hover {
    background-color: violet;
    padding: 2px;
  }

  .btn {
    display: block;
    width: 30px;
    height: 30px;
  }
}
